#welcome-section h2, .download-text{
    text-align: center;
}

.download-logo svg{
    height: 3em;
    width: 3em;
}

#resume {
    border-bottom: 3px dashed;
}

#back, #dms{
    border-left: 3px solid;
}

.col h5, .col h6{
    text-align: center;
}

li {
    list-style-type: none;
    margin-right: 25px;
}

@media (max-width: 575px) {
    .col{
        border-left: none;
    }

    #front, #back {
        border-bottom: 3px solid;
    }
}
